.container {
    margin: 20px;
    background: var(--background, #F5F5F5);
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 60px;
}

.sidenav {
    width: 280px;
    min-height: 100vh;
    border-radius: 30px;
    background: #000;
}

.sidenav-heading {
    display: flex;
    width: 100%;
    height: 30px;
}

.sidenav-heading span {
    color: white;
    padding-top: 60px;
    padding-left: 50px;
    color: #FFF;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 60px;
}

.list-items {
    color: white;
    position: absolute;
    width: 100%;
    top: 150px;
}

.list-items ul li {
    list-style: none;
    cursor: pointer;

}

ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    padding-left: 50px;
}
.help{
    position: absolute;
    top: 700px;
}
.help-2{
    position: absolute;
    top: 750px; 
}


.container-2 {
    width: 100%;
    min-height: 100vh;
    background: var(--background, #F5F5F5);
}

.dashboard-heading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.head {
    color: #000;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 700;
}

.dashboard-space {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search {
    border-radius: 10px;
    background: #FFF;
    border: none;
    width: 180px;
    height: 30px;
}

.im {
    border-radius: 50%;
    cursor: pointer;
}


.charts {
    width: 100%;
    height: 359px;
    flex-shrink: 0;
    border-radius: 20px;
    /* border: 2px solid red; */
    background: #FFF;
}


.combo{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}

.products {
    width: 50%;
    height: 256px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
}
.schedule{
    width: 50%;
min-height: 256px;
flex-shrink: 0;
border-radius: 20px;
background: #FFF;
}
.head-2{
    color: #000;
font-size: 18px;
font-family: Montserrat;
font-weight: 700;
margin-left: 40px;
margin-top: 30px;
}
.select{
   border: none;
   outline: none;
   margin-left: 40px;
margin-top: 30px;

}
.seel{
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 20px;
}
.chart-box{
    /* width: 100%; */
    height: 145px;
    margin-left: 50px;
    margin-top: 25px;
    
}
.chart-container{
    display: flex;
    gap: 45px; 
}
.dots{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    /* gap: 20px; */
}
.dots span{
    color: #000;
font-size: 14px;
font-family: Montserrat;
font-weight: 700;
margin-left: 50px;
}
.dots span h4{
    color: var(--secondary-text, #858585);
font-size: 12px;
font-family: Lato;margin-left: 20px;
}

.sch{
    margin-top: 25px;
    margin-left:40px ;
}
.dot-img{
    display: flex;
}

.event-1 {
    border-left: 5px solid #9BDD7C;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 24px;
    margin-bottom: 20px;
    justify-content: center;
}
.event-2 {
    border-left: 5px solid #6972C3;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 24px;
    margin-bottom: 20px;
    justify-content: center;
}
.slogan-head {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #333333;
}

.event-date {
    color: #788898;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    align-items: center;
    display: flex;
    gap: 10px;
}

.event-time {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    color: #788898;
    align-items: center;
    display: flex;
    gap: 10px;
}
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #rotate-image {
    animation: rotate 4s linear 1;
  }
  